@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">THỰC TẬP</h1>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
           <p><a href="~/Student/ShowList" >Câu 1: Danh sách sinh viên</a> </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <p><a href="~/Semester/Index">Câu 5 - 6: Danh sách học kỳ</a> </p>

        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
       
        </section>
    </div>
</main>