@{
    ViewBag.Title = "Mô tả";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <p>Quản lý sinh viên cơ bản.</p>
    <p>Gồm có 6 câu bài tập chính</p>
    <p>
        1.	Xem danh sách sinh viên
    </p>
    <p>
        2.	Xem chi tiết sinh viên
    </p>
    <p>
        3.	Xem số môn học sinh viên đăng ký
    </p>
    <p>
        4.	Xem điểm môn học của sinh viên
    </p>
    <p>
        5.	Nhập điểm của sinh viên
    </p>
    <p>
        6.	Xem kết quả trượt đỗ của sinh viên.
    </p>
    <p></p>
</main>