@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Quản Lý Sinh Viên </h1>
        <p class="lead">Chọn các chức năng bên dưới để bắt đầu thực hiện</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Danh Sách Sinh Viên</h2>
            <p>
               Hiển thị đầy đủ thông tin của sinh viên theo một danh sách. Chi tiết sinh viên.
            </p>
            <p><a class="btn btn-outline-dark" href="/Student/Index">Bấm để xem &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Nhập điểm sinh viên</h2>
            <p>Nhập điêm sinh viên theo học kỳ.</p>
            <p><a class="btn btn-outline-primary" href="/EnrolledCoursesStudentRegister/ShowSubjectBySemester">Bấm để bắt đầu nhập điểm &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>